:host {
  background: white;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 8px;
  z-index: 100;
}

.mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
}

.hide {
  opacity: 0;
}

.mat-tab-nav-bar {
  padding-top: 5px;
  width: 100%;
}
